body {
    /* background-color: grey; */
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.corona {
    width: 370px;
    margin: 25px 0;
}

@media (max-width: 770px) {
    .container {
        margin: 0 10%;
    }
    .image {
        width: 100%
    }
}